In [1]:
import pandas as pd
import numpy as np
import quandl
import matplotlib.pyplot as plt
import seaborn as sns

# Fetch stock prices as GBM input

In [10]:
prices = quandl.get("BSE/BOM532540", 
                authtoken="", 
                start_date = '1991-01-01', end_date = '2022-10-11'
                )

prices.to_csv('gbm.csv', index=True)

In [11]:
# prices = pd.read_csv('gbm.csv', index_col=0)

In [12]:
prices.head(5)

,Open,High,Low,Close,WAP,No. of Shares,No. of Trades,Total Turnover,Deliverable Quantity,% Deli. Qty to Traded Qty,Spread H-L,Spread C-O
Date,,,,,,,,,,,,
2004-08-25,1076.00,1080.00,979.00,987.50,1004.163872,6536309.0,121534.0,6.563525e+09,1858962.0,28.44,101.00,-88.50
2004-08-26,992.70,996.70,975.30,978.55,985.243466,2243016.0,44222.0,2.209917e+09,497612.0,22.18,21.40,-14.15
2004-08-27,982.45,982.45,958.55,962.35,969.424008,1503317.0,31798.0,1.457352e+09,263508.0,17.53,23.90,-20.10
2004-08-30,967.70,989.75,965.00,986.25,982.607932,1124819.0,23698.0,1.105256e+09,220874.0,19.64,24.75,18.55
2004-08-31,989.00,990.00,976.00,987.95,982.258276,1135066.0,19871.0,1.114928e+09,282277.0,24.87,14.00,-1.05

# Calculate split factor based on stock price

In [13]:
prices['Yesterday Close'] = prices['Close'].shift(1).dropna(inplace=True)

In [14]:
prices

,Open,High,Low,Close,WAP,No. of Shares,No. of Trades,Total Turnover,Deliverable Quantity,% Deli. Qty to Traded Qty,Spread H-L,Spread C-O,Yesterday Close
Date,,,,,,,,,,,,,
2004-08-25,1076.00,1080.00,979.00,987.50,1004.163872,6536309.0,121534.0,6.563525e+09,1858962.0,28.44,101.00,-88.50,None
2004-08-26,992.70,996.70,975.30,978.55,985.243466,2243016.0,44222.0,2.209917e+09,497612.0,22.18,21.40,-14.15,None
2004-08-27,982.45,982.45,958.55,962.35,969.424008,1503317.0,31798.0,1.457352e+09,263508.0,17.53,23.90,-20.10,None
2004-08-30,967.70,989.75,965.00,986.25,982.607932,1124819.0,23698.0,1.105256e+09,220874.0,19.64,24.75,18.55,None
2004-08-31,989.00,990.00,976.00,987.95,982.258276,1135066.0,19871.0,1.114928e+09,282277.0,24.87,14.00,-1.05,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-04,3020.00,3097.50,3020.00,3092.50,3079.310000,113230.0,8670.0,3.486704e+08,69848.0,61.69,77.50,72.50,None
2022-10-06,3103.00,3124.10,3092.50,3104.70,3107.810000,185886.0,14943.0,5.776977e+08,114981.0,61.86,31.60,1.70,None
2022-10-07,3099.00,3104.85,3059.00,3064.95,3075.370000,190047.0,14607.0,5.844641e+08,140616.0,73.99,45.85,-34.05,None
2022-10-10,3013.10,3129.90,3013.05,3121.20,3097.620000,227444.0,20158.0,7.045358e+08,97722.0,42.97,116.85,108.10,None
2022-10-11,3100.00,3144.55,3054.75,3068.95,3113.850000,1428966.0,23132.0,4.449583e+09,1257616.0,88.01,89.80,-31.05,None

In [6]:
prices['Split Factor'] = prices['Yesterday Close'] / prices['Open']

In [8]:
prices

,Open,High,Low,Close,WAP,No. of Shares,No. of Trades,Total Turnover,Deliverable Quantity,% Deli. Qty to Traded Qty,Spread H-L,Spread C-O,Yesterday Close,Split Factor
Date,,,,,,,,,,,,,,
2004-08-25,1076.00,1080.00,979.00,987.50,1004.163872,6536309.0,121534.0,6.563525e+09,1858962.0,28.44,101.00,-88.50,None,NaN
2004-08-26,992.70,996.70,975.30,978.55,985.243466,2243016.0,44222.0,2.209917e+09,497612.0,22.18,21.40,-14.15,None,NaN
2004-08-27,982.45,982.45,958.55,962.35,969.424008,1503317.0,31798.0,1.457352e+09,263508.0,17.53,23.90,-20.10,None,NaN
2004-08-30,967.70,989.75,965.00,986.25,982.607932,1124819.0,23698.0,1.105256e+09,220874.0,19.64,24.75,18.55,None,NaN
2004-08-31,989.00,990.00,976.00,987.95,982.258276,1135066.0,19871.0,1.114928e+09,282277.0,24.87,14.00,-1.05,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-04,3020.00,3097.50,3020.00,3092.50,3079.310000,113230.0,8670.0,3.486704e+08,69848.0,61.69,77.50,72.50,None,NaN
2022-10-06,3103.00,3124.10,3092.50,3104.70,3107.810000,185886.0,14943.0,5.776977e+08,114981.0,61.86,31.60,1.70,None,NaN
2022-10-07,3099.00,3104.85,3059.00,3064.95,3075.370000,190047.0,14607.0,5.844641e+08,140616.0,73.99,45.85,-34.05,None,NaN
2022-10-10,3013.10,3129.90,3013.05,3121.20,3097.620000,227444.0,20158.0,7.045358e+08,97722.0,42.97,116.85,108.10,None,NaN
2022-10-11,3100.00,3144.55,3054.75,3068.95,3113.850000,1428966.0,23132.0,4.449583e+09,1257616.0,88.01,89.80,-31.05,None,NaN

In [7]:
prices['Split Factor'] = prices['Split Factor'].round(1)

TypeError: loop of ufunc does not support argument 0 of type float which has no callable rint method

In [ ]:
prices.head(5)

# Clean split factor to account for >20% change only

In [ ]:
prices.loc[(prices['Split Factor'] <= 1.2) & (prices['Split Factor'] >= 0.8), 'Split Factor'] = 1.0

# Adjust WAP with split factor

In [ ]:
prices['Cum. Split Factor'] = (prices['Split Factor']).replace(np.inf, 1).cumprod()
prices['Adj. WAP'] = prices['Cum. Split Factor'] * prices['WAP']

In [ ]:
prices.head(5)

# Further adjust price to reflect present prices

In [ ]:
factor = (prices['Adj. WAP'][-1] / prices['WAP'][-1])
prices['Adj. WAP'] = prices['Adj. WAP'] / factor

In [ ]:
prices.head(5)

In [ ]:
sns.lineplot(prices['Adj. WAP'])

# Save changes to disk

In [ ]:
prices.to_csv('gbm.csv', index=True)