In [3]:
import pandas as pd
import numpy as np
import quandl

In [6]:
prices = quandl.get("BSE/BOM532540", 
                authtoken="", 
                start_date = '1991-01-01', end_date = '2022-10-11'
                ).reset_index(drop = False)[['Date', 'WAP']]

In [7]:
prices

           Date          WAP
0    2004-08-25  1004.163872
1    2004-08-26   985.243466
2    2004-08-27   969.424008
3    2004-08-30   982.607932
4    2004-08-31   982.258276
...         ...          ...
4494 2022-10-04  3079.310000
4495 2022-10-06  3107.810000
4496 2022-10-07  3075.370000
4497 2022-10-10  3097.620000
4498 2022-10-11  3113.850000

[4499 rows x 2 columns]